proposal.aux
proposal.bbl
proposal.blg
proposal.log
proposal.pdf
.DS_Store
code/data/europarl-v7.fr-en.en
code/data/europarl-v7.fr-en.fr
code/data/clean-fr.txt
code/data/clean-en.txt
code/data/en_splits
code/data/fr_splits
