proposal.aux
proposal.bbl
proposal.blg
proposal.log
proposal.pdf
.DS_Store
code/__pycache__
code/data/europarl-v7.fr-en.en
code/data/europarl-v7.fr-en.fr
code/data/*.txt
code/data/en_splits
code/data/fr_splits
code/data/en_out
code/data/*_backup
code/data/fr_out
code/data/postprocess
code/data/__pycache__
code/model_save
